<section class="bulk-edit-form">
    <h3>Bulk Edit Training Items</h3>

    <div class="trainingformGroup">
        <div>Set ALL Start Dates (in-world):</div>
        <input type="text" name="bulkStart" placeholder="e.g. 21 Descending Air RY768" />
    </div>

    <div class="trainingformGroup checkbox-row">
        <div>Set ALL Created Dates to NOW</div>
        <input type="checkbox" name="bulkCreated" />
    </div>

    <div class="trainingformGroup checkbox-row">
        <div>Mark ALL training items as completed </div>
        <input type="checkbox" name="bulkComplete" />
    </div>
</section>
