<form class="bulk-edit-form">

    <h3>Bulk Edit Training Items</h3>

    <div class="form-row">
        <label>Set ALL Start Dates (in-world):</label>
        <input type="text" name="bulkStart" placeholder="e.g. 21 Descending Air RY768" />
    </div>

    <div class="form-row checkbox-row">
        <label>
            <input type="checkbox" name="bulkCreated" />
            Set ALL Created Dates to NOW
        </label>
    </div>

    <div class="form-row checkbox-row">
        <label>
            <input type="checkbox" name="bulkComplete" />
            Mark ALL training items as completed
        </label>
    </div>

</form>
